<li class="list-group-item">
	<h5>{{title}}	</h5>	
	<p><a href="{{link}}">{{link}}</a>  </p>
	{{!-- <button ctype="button" class="btn btn-xs btn-primary devour-burger" data-id="{{_id}}" devoured="{{devoured}}">DEVOUR!</button>
	<button class="btn btn-xs btn-danger delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>