<li class="list-group-item">
		<button id="btn-save" type="button" class="btn btn-sm btn-success article-btns" data-id="{{_id}}">Save Article</button>
	<a class="article-link" href="{{link}}" target="_blank">
		<h4 class="list-group-item-heading">{{title}} </h4>
	</a>
		<p class="article-summary list-group-item-text">{{summary}}</p>

</li>
{{!--
<button class="btn btn-xs btn-danger delete-burger" data-id="{{this.id}}">DELETE!</button> --}}